<header>
  <h1>Dorfladen</h1>
</header>

<div class="container">
  <div class="product">
    <img class="image" src="assets/products/appenzeller.jpg">
    <div>
      <p>Productname</p>
    </div>
    <div>
      <p>Preis / Aktionspreis</p>
    </div>
  </div>

  <div class="product">
    <img class="image" src="assets/products/appenzeller.jpg">
    <div>
      <p>Productname</p>
    </div>
    <div>
      <p>Preis / Aktionspreis</p>
    </div>
  </div>

  <div class="product">
    <img class="image" src="assets/products/appenzeller.jpg">
    <div>
      <p>Productname</p>
    </div>
    <div>
      <p>Preis / Aktionspreis</p>
    </div>
  </div>

  <div class="product">
    <img class="image" src="assets/products/appenzeller.jpg">
    <div>
      <p>Productname</p>
    </div>
    <div>
      <p>Preis / Aktionspreis</p>
    </div>
  </div>

  <div class="product">
    <img class="image" src="assets/products/appenzeller.jpg">
    <div>
      <p>Productname</p>
    </div>
    <div>
      <p>Preis / Aktionspreis</p>
    </div>
  </div>

  <div class="product">
    <img class="image" src="assets/products/appenzeller.jpg">
    <div>
      <p>Productname</p>
    </div>
    <div>
      <p>Preis / Aktionspreis</p>
    </div>
  </div>
</div>
